<% # container for a single doc -%>
<% alerta = ""%>

<% if render_index_field_value(document,:memoria_en_uso) > '3000' or render_index_field_value(document,:numero_usuarios) < '100'-%>
<% alerta = "alerta"%>
<% end-%>
<% if render_index_field_value(document,:numero_usuarios) < '1'-%>
<% alerta = "warning"%>
<% end-%>

<div class="document <%= render_document_class document %> <%= alerta%>" >
  <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
</div>

