@import 'bootstrap';

@import 'blacklight/blacklight';
.navbar-inverse{
	background-color:#195FAC;
}
.navbar-inverse .navbar-nav > li > a {
color: #ccc;
}
#documents .document{
border: none;
border-radius: 30px;
float: left;
background-color: aliceblue;
overflow: hidden;
height: 30px;
margin:.5em;
padding:0.4em 1em;	
}
dt.blacklight-hostname, .blacklight-id{display:none;}
.dl-horizontal {margin:0 0 1em 0;}
.dl-horizontal dd{margin:0;}
.dl-horizontal dt{width:auto;}
#documents .document:hover{
	width:auto;
	height:auto;
	background-color: #eee;
	padding:1.5em;
	}
.button{
	color:white;
	padding:0.3em 0.8em;
	background-color:#bbb;
	text-decoration:none;
	border-radius:5px;
	margin:1em 0 0 0.5em;	
	display:block;
	width:4em;
}
a.button:hover{
	text-decoration:none;
	color:white;
	
	}
#documents .document.bajo{
	border:1px solid red;
padding-top: .3em;
	
	}
.col-md-3{width:19%;}