@import 'bootstrap';

@import 'blacklight/blacklight';
.navbar-inverse{
	background-color:#195FAC;
}
.navbar-inverse .navbar-nav > li > a {
color: #ccc;
}
#header-navbar .navbar-brand {
background: transparent url(/logoinv.png) no-repeat;
width: 200px;
margin: 0.5em 0 0 0;
}
#documents .document{
border: none;
border-radius: 30px;
float: left;
min-width:250px;
background: url(/servidor.png) no-repeat right top #B6F3AE;
margin:.5em;
padding:0.4em 1em;	
position:relative;
}
#documents dt.blacklight-hostname,#documents .blacklight-id,#documents dd.blacklight-hostname{display:none;}
.show-document dd.blacklight-hostname{font-size:1.2em;}
.show-document dt.blacklight-hostname{display:inline;}
.show-document .dl-horizontal dd{margin-left:1em;}
#documents .document div{
	display:none;
	position:absolute;
	z-index:1;
width: 100%;
background-color: #F3F0AE;
padding: 1em;
box-shadow: 2px 2px 2px #bbb;
}
.dl-horizontal {margin:0 0 1em 0;}
.dl-horizontal dd{margin:0;}
.dl-horizontal dt{width:10em;text-align:left;}

.button{
	color:white;
	padding:0.3em 0.8em;
	background-color:#bbb;
	text-decoration:none;
	border-radius:5px;
	margin:1em 0 0 0.5em;	
	display:block;
	width:4em;
}

.cartas, .cartas_row{
	display:block;
	width:45%;
	float:left;
	margin:0 1em 1em 0.5em;
}
.cartas_row{width:80%;}
.cartas a, .cartas_row a{
	display:block;
	padding:0.1em 0.3em;
	border: 1px solid rgb(185, 185, 243);
	background:#eee;
	text-decoration:none;
	border-radius:3px;
	width:40%;
	text-align:center;
margin: .1em 2em .1em 15em;
}
#main{
	max-width:900px;
	margin:1em auto;
}
a.button:hover{
	text-decoration:none;
	color:white;
	
	}
.warning{
	background:url(/warning.png) no-repeat right top ;
		}
.alerta{
	background:url(/alerta.png) no-repeat right top ;
		}
#documents .document.warning{
	background:url(/warning.png) no-repeat right center #FFA9A9;
		}
#documents .document.alerta{
	background:url(/alerta.png) no-repeat right center #FFF4A5;
		}
.col-md-3{width:19%;}